<?php

require_once __DIR__.'/../symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony\\Tests'   => array(__DIR__.'/tests', __DIR__.'/../symfony/tests'),
    'Symfony'          => array(__DIR__.'/src',__DIR__.'/../symfony/src'),
));

if (!function_exists('intl_get_error_code')) {
    require_once __DIR__.'/../symfony/src/Symfony/Component/Locale/Resources/stubs/functions.php';

    $loader->registerPrefixFallbacks(array(__DIR__.'/../symfony/src/Symfony/Component/Locale/Resources/stubs'));
}

$loader->register();

